# Protect a few sensitive files
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<Files spark>
    Order allow,deny
    Deny from all
</Files>

# Turn on URL rewriting
RewriteEngine On

# Set the environment
# SetEnv CI_ENVIRONMENT development

# Redirect CodeIgniter folder
RewriteCond %{REQUEST_URI} ^/system.*
RewriteRule ^(.*)$ /index.php/$1 [L]

# Redirect application folder
RewriteCond %{REQUEST_URI} ^/app.*
RewriteRule ^(.*)$ /index.php/$1 [L]

# See https://codeigniter.com/user_guide/installation/installing_manual.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]